@rendermode InteractiveWebAssembly

<link href="/css/beda.css" rel="stylesheet" />

<div class="main-container">
    <div class="sort-block-container">
        <div class="container">
            <div class="row">
                <div class="col-sm mb-2 mx-2 bg-primary bg-gradient rounded border border-info">
                    <p class="text-light text-center my-auto">Обращений к массиву: @Algorithm.ArrayAccessCount</p>
                </div>
                <div class="col mb-2 mx-2 bg-primary bg-gradient rounded border border-info">
                    <p class="text-light text-center my-auto">Перестановок: @Algorithm.SwapCount</p>
                </div>
                <div class="col mb-2 mx-2 bg-primary bg-gradient rounded border border-info">
                    <p class="text-light text-center my-auto">Сравнений: @Algorithm.CompareCount </p>
                </div>
            </div>
        </div>

        <div class="sort-item-container">
            @foreach (var element in _arrayElements)
            {
                <div class="sort-item" style="--sort-item-color: @element.Color;
                                              --sort-item-height: @element.Height;
                                              --sort-item-width: @element.Width; 
                                              --sort-item-font-size: @element.FontSize;
                                              --sort-item-margin: @($"{Generator.MARGIN_WIDTH}%");
                                              --sort-item-delay: @($"{Algorithm.Delay * 0.6}ms")">
                    @element.Value
                </div>
            }
        </div>

        <div class="row btn-container">
            <div class="col-auto">
                <button class="btn btn-primary" @onclick="GenerateArray" disabled="@_isSorting">Сгенерировать</button>
            </div>
            <div class="col-auto mb-2">
                <button class="btn btn-primary" @onclick="SortArray" disabled="@(_isEmpty || _isSorting)">Сортировать</button>
            </div>
            
            <div class="col-auto pt-2">
                <p class="text-light text-center">Задержка (мс)</p>>
            </div>
            <div class="col-3 mb-2 w-7">
                <input @bind="Algorithm.Delay" disabled="@_isSorting" type="text" class="form-control" id="inlineFormInputGroup" placeholder="Задержка">
            </div>
            
            <div class="col-auto pt-2">
                <p class="text-light text-center">Элементов</p>>
            </div>
            <div class="col-3 mb-2 w-7">
                <input @bind="@_generator.ItemsCount" disabled="@_isSorting" type="text" class="form-control" id="inlineFormInputGroup" placeholder="Элементов">
            </div>
        </div>
    </div>
</div>


@code
{
    [Parameter]
    public SortAlgorithm Algorithm { get; set; }
    
    private Generator _generator = new Generator();

    private List<ArrayElement> _arrayElements = new List<ArrayElement>();

    private bool _isSorting = false;
    private bool _isEmpty = true;

    protected override void OnInitialized()
    {
        Algorithm.SortService.StyleChanged += HandleStateChanged;
    }

    private void GenerateArray()
    {
        _arrayElements.Clear();
        _arrayElements = _generator.GenerateRandomArray();

        _isEmpty = false;
    }

    private async Task SortArray()
    {
        _isSorting = true;
        await Algorithm.Sort(_arrayElements);

        _isSorting = false;
        StateHasChanged();
    }

    private void HandleStateChanged(object sender, EventArgs e)
    {
        StateHasChanged(); // обновление состояния компонента
    }
}