@rendermode InteractiveWebAssembly
@inject IJSRuntime JSRuntime
@inject UserDataStorage globalData

<div class="block-bg-color mt-3 p-3 bdr">
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Алгоритм</th>
                <th scope="col">Обращений</th>
                <th scope="col">Перемещений</th>
                <th scope="col">Время</th>
                <th scope="col">Задержка</th>
                <th scope="col">Элементов</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < globalData.UserHistories.Count; i++)
            {
                <tr>
                    <th scope="row">@(i + 1)</th>
                    <td>@(globalData.Algorithms.FirstOrDefault(a => a.Id == globalData.UserHistories[i].AlgorithmId).Name)</td>
                    <td>@globalData.UserHistories[i].ArrayAccessCount</td>
                    <td>@globalData.UserHistories[i].MoveCount</td>
                    <td>@globalData.UserHistories[i].TimeWasted</td>
                    <td>@globalData.UserHistories[i].Delay</td>
                    <td>@globalData.UserHistories[i].ElementsCount</td>                    
                </tr>
            }
            
        </tbody>
    </table>
</div>

@code 
{
    private SaveAPI _saveAPI;
    private string _userId;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            StateHasChanged();

            _userId = await globalData.GetUserId(JSRuntime);
            _saveAPI = new SaveAPI(globalData);
            await _saveAPI.GetHistory(_userId);

            StateHasChanged();
        }
    }
}